@import "../../styles/partials/Global.scss";

.card {
    @include flexBox(column);
    background: $white;
    @include flexBox(column);
    background: rebeccapurple;
    width: 10rem;
    height: 10rem;
    overflow: hidden;
    &__image > img {
        width: 8rem;
        height: 8rem;
    }
}