$tablet: 768px;

@mixin flexBox($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@mixin tablet {
    @media (max-width: $tablet) {
        @content
    }
}

