@import "../../styles/partials/Global.scss";

.home {
    @include flexBox(column);
    color: $white;
    &__title{
        font-size: $fon-size-xl;
        line-height: 5rem;
        font-weight: 100;
        letter-spacing: 0.31rem;
        margin: 1rem 0 0 0;
        padding: 0;
        text-align: center;
    }
    &__subtitle {
        font-size: $fon-size-md;
        line-height: 5rem;
        font-weight: bold;
        letter-spacing: 0.31rem;
        margin: 0;
        padding: 0;
    }
    &__text {
        font-weight: 300;
        font-size: $fon-size-sm;
        line-height: 1.1875rem;
        text-align: center;
        width: 28rem;
    }
}

