@import "../../styles/partials/Variables.scss";
@import '../../Styles/partials/Mixins.scss';

.navbar {
    @include flexBox(row);
    padding: 1rem;
    background: none;
    font-size: $fon-size-sm;
    &__links {
        @include flexBox(row);
    }
    &__link {
        list-style-type: none;
        margin: 0 1rem 0 0
    }
    &__link a {
        text-decoration: none;
        line-height: 1.1875rem;
    }


}