@import "../../styles/partials/Global.scss";

.navbar {
    @include flexBox(row);
    height: 5rem;
    //margin-top: -80px;
    width: 100%;
    background: rebeccapurple;
    font-size: $fon-size-sm;
    position: sticky;
    top: 0;
    z-index: 1;
    overflow: auto;
    &__burger-icon{
        color: $white;
        height: 2.5rem;
        width: 2.2rem;
        margin-left: auto;
        margin-right: 2rem;
    }
    &__links {
        @include flexBox(row);
    }
    &__link {
        list-style-type: none;
        margin: 0 1rem 0 0
    }
    &__link a {
        text-decoration: none;
        line-height: 1.1875rem;
        color: $white;
    }
}

@include tablet{
    .navbar{
        transition: 0.8s all ease;
    }
    .navbar__links {
        display: none;
    }
}