@import "../../styles/partials/Global.scss";

.navbar {
    @include flexBox(row);
    padding: 1rem;
    background: rebeccapurple;
    font-size: $fon-size-sm;
    margin: 0 0 1rem 0;
    padding: 0;
    z-index: 1;
    &__links {
        @include flexBox(row);
    }
    &__link {
        list-style-type: none;
        margin: 0 1rem 0 0
    }
    &__link a {
        text-decoration: none;
        line-height: 1.1875rem;
        color: $white;
    }


}